* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 4rem auto;
    text-align: center;
}

.main {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.main h1 {
    color:hsl(0, 0%, 59%);
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 1rem;
}

span {
    color: hsl(209, 33%, 12%);
    font-weight: 600;
}

.main h3 {
    color: hsl(209, 33%, 12%);
    font-weight: 300;
    margin-bottom: 1rem;
}

.guest-email {
    width: 17rem;
    height: 2.5rem;
    padding: 0.2rem;
    border-radius: 4rem;
    border: 1px solid hsl(0, 0%, 59%);
    margin: 1rem 0 2rem 0;
}

.main button {
    color: white;
    background-color: hsl(223, 87%, 63%);
    width: 9rem;
    height: 2.5rem;
    border: 1px solid hsl(223, 87%, 63%);
    border-radius: 4rem;
    margin: 1rem 0 2rem 0;
    font-weight: 300;
    box-shadow: 2px 2px 8px 2px hsl(223, 100%, 88%);
}

.main-img img {
    width: 50%;
}

footer {
    margin: 3rem;
    text-align: center;
    color: hsl(223, 87%, 63%);
}

i {
    margin: 0 0.5rem;
}

footer h5 {
    color: hsl(0, 0%, 59%);
    font-weight: 100;
    font-size: 0.7rem;
    margin: 1rem 0;
}